* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;

}

.logo {
    font-size: 60px;
    justify-self: start;
    color: rgb(80, 243, 48);

}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(72, 72, 185);

}

.active {
    background-color: white;

}

.flex-container ul li {
    display: inline-block;
}

.flex-container li {
    list-style-type: none;
    height: 50%;
    margin-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    font-size: 60px;


}

li a {
    color: black;
    font-size: 60px;
    position: relative;
    text-decoration: none;
    font-weight: bold;

}

.flex-container>ul li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: aqua;
    top: 64px;
    left: -3px;
    transition: 0.5s;

}

.flex-container>ul li:hover::after {
    width: 100%;

}

.sub-menu1 {
    display: none;

}


.flex-container li:hover .sub-menu1 {
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
    z-index: 1;

}

.flex-container li:hover .sub-menu1 ul li {
    border-bottom: 1px solid dodgerblue;
    width: 300px;
    background-color: white;
    margin-bottom: 1px;
    text-align: left;
    padding: 10px;

}

.flex-container li:hover .sub-menu1 ul li:last-child {
    border-bottom: none;
}

.content {
    position: absolute;
    top: 30%;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 150px;
}


span {
    color: darkblue;
    font-size: inherit;
}

.boy {
    float: right;
    position: absolute;
    left: 60%;
    top: 5%
}

.projects {

    width: 100%;
    margin-bottom: 20px;
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
    column-gap: 0.5%;


}

h2 {
    margin-top: 32%;

    font-size: 90px;
}

hr {
    border: 3px solid rgb(141, 137, 137);
    width: 98%;
    margin-right: auto;
    margin-top: 50px;
}

p {
    font-weight: bold;
    font-size: 70px;
    color: darkblue;

}

.projects img:hover {
    box-shadow: 8px 8px 10px 12px rgba(0, 0, 0, 0.5);
}